@page "/"

<PageTitle>Flat Tax</PageTitle>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Flat Tax</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Simplificação e desagravamento  do IRS com introdução de taxa única de 15%, começando de forma gradual com duas taxas de 15% e 28%, de forma a aumentar imediatamente os salários líquidos dos portugueses</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary" href="/calcular" role="button">Calcular Aumento</a>
            <a class="btn btn-secondary" href="https://iniciativaliberal.pt/legislativas-2022/programa-eleitoral/" target="_blank" role="button">Programa Eleitoral Legislativas 2022</a>
        </div>
    </div>
</div>

<div class="container px-4 py-5">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h2 class="border-bottom">Objetivos</h2>
            <ul>
                <li>Reduzir a complexidade fiscal e respetivos custos administrativos</li>
                <li>Incentivar a transparência na declaração de rendimentos e cumprimento de obrigações fiscais</li>
                <li>Reduzir ineficiências relacionadas com formas alternativas de rendimento não declarado (subsídios de alimentação, carro da empresa, etc.)</li>
                <li>Introduzir maior justiça fiscal, eliminando vantagens indevidas para quem recorre a planeamento fiscal para obter maiores deduções</li>
                <li>Limitar a punição excessiva da remuneração das horas extraordinárias</li>
                <li>Reter e incentivar ao regresso de quadros qualificados essenciais ao crescimento económico, ao aumento da produtividade e à criação de emprego qualificado</li>
                <li>Dinamizar a economia</li>
                <li>Eliminar distorções derivadas do mecanismo de retenção na fonte que implica, muitas vezes, que os contribuintes sejam forçados a “emprestar” ao Estado, durante vários meses, quantias que lhes fazem falta</li>
                <li>Eliminar hiper-progressividade fiscal que pune o esforço e o mérito, desincentivando a aspiração de auferir remunerações mais elevadas</li>
                <li>Retirar incentivos à fraude fiscal e à deslocalização de rendimentos</li>
            </ul>
        </div>
        <div class="feature col">
            <h2 class="border-bottom">Proposta</h2>
            <ol>
                <li>Implementação de uma taxa única de IRS de 15%</li>
                <li>Esta taxa aplicar-se-á por igual a todos os rendimentos e para todos os contribuintes</li>
                <li>Isenção de IRS para rendimentos de trabalho, até ao montante do mínimo de existência (14 x 1,5 x Indexante de Apoios Sociais, sendo o IAS anualmente revisto pelo governo), o que significaria, atualmente, uma isenção dos rendimentos correspondentes a uma remuneração mensal de cerca de €664</li>
                <li>Isenção adicional de 200€ mensais por filho dependente e por progenitor (400€ em caso de famílias monoparentais)</li>
                <li>Eliminação de todas as deduções e benefícios fiscais em sede de IRS, com exceção das mencionadas no ponto anterior</li>
                <li>Para atenuar o impacto orçamental imediato, e ainda assim beneficiar do efeito da simplificação, propõe-se transitoriamente um sistema de duas taxas: 15% para rendimentos até 30.000€ e 28% no remanescente</li>
                <li>O imposto sobre rendimento seria passível de ser retido na fonte de forma exata, eliminando a necessidade da maioria dos contribuintes preencher declaração de IRS</li>
            </ol>

            </div>
        <div class="feature col">
            <h2 class="border-bottom">Racional</h2>
            <ol>
                <li>Na medida em que os trabalhadores negoceiam salários líquidos, a progressividade fiscal ajuda a financiar empregadores de mão-de-obra barata à custa dos empregos de mão de obra qualificada</li>
                <li>Portugueses passam milhares de horas a preencher declarações de IRS complexas, sendo muitas vezes punidos com coimas resultantes apenas do desconhecimentode todas as regras</li>
                <li>Fiscalização de um sistema fiscal complexo consome recursos da Administração fiscal</li>
                <li>Muito do planeamento fiscal feito em torno do atual sistema de imposto sobre rendimento resulta em distorções na alocação de recursos. Por exemplo, muitas empresas dão benefícios aos trabalhadores mais qualificados, como automóveis, viagens e ajudas de custo, que os próprios prefeririam receber em dinheiro</li>
                <li>Rateção marginal do segundo elemento do casal é bastante elevada e superior ao do primeiro elemento, gerando um desincentivo à entrada (ou reentrada após parentalidade, por exemplo) no mercado de trabalho ou reduzindo as suas ambições profissionais</li>
                <li>O mercado de trabalho é cada vez mais global, principalmente entre os trabalhadores mais qualificados. Altas taxas de IRS para salários elevados em Portugal, mas medianos no resto do Mundo, cria um incentivo à saída de trabalhadores altamente qualificados</li>
                <li>No passado, vários países com nível de desenvolvimento económico e posicionamento semelhante ao de Portugal adotaram taxas únicas (ou regime semelhante apenas duas taxas) com sucesso, incluindo Estónia, Letónia, Lituânia e Hungria (uma taxa), Eslováquia (uma taxa que passou a duas) e Irlanda (duas taxas apenas)</li>
            </ol>
            </div>
    </div>
</div>
