@page "/"

<PageTitle>Flat Tax</PageTitle>

<div class="jumbotron">
    <h1 class="display-4">Flat Tax</h1>
    <h2>Not Fat Tax</h2>
    <hr class="my-4">
    <p>Calcule quanto pode ser o seu aumento!</p>
    <a class="btn btn-primary btn-lg" href="comparar" role="button">Comparar</a>
</div>